# Python virtual environment
.venv/

# Folder 
model/
models/

# Byte-compiled / cache files


# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# VSCode settings
.vscode/

# Logs
*.log

# Environment variables
.env
